<style lang="sass">
  .customizer
    .group
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 3px solid #f5f5f5

    .group-label
</style>


<template>
  <div class="customizer">
    <div class="columns">
      <div class="column">
        <div v-for="group in availableItems" class="group">
          <div class="columns">
            <div class="column is-narrow">
              <div class="group-label">
                {{ group.name }}
              </div>
            </div>

            <div class="column">
              <div class="buttons has-addons">
                <button class="button is-small is-rounded is-warning"
                        :class="{'is-danger': isAdded(item.id)}"
                        v-on:click="toggleItem(item.id)"
                        v-for="item in group.items">
                  {{ item.name }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <render :items="renderingItems" />
      </div>
      <div class="column">

        <pre>{{ renderingItems }}</pre>

      </div>
    </div>
  </div>
</template>


<script>
  import Render from "./Render";

  const items = require('~/items.json');

  export default {
    comments: {
      Render
    },
    data: () => ({
      renderingItems: [],
      availableItems: items,
    }),
    methods: {
      isAdded(itemId) {
        let item = this.renderingItems.length && this.renderingItems.find(item => item.id === itemId);
        return item && item.hasOwnProperty('id');
      },
      toggleItem(itemId) {
        let group = this.availableItems.find(group => group.items.find(item => item.id === itemId));
        let item = group.items.find(item => item.id === itemId);
        let newItems = this.renderingItems.filter(item => item.groupId !== group.id);

        if (!this.isAdded(itemId)) {
          newItems.push({
            id: itemId,
            coordinates: group.coordinates,
            groupName: group.name,
            groupId: group.id,
            itemName: item.name,
            previewSrc: item.previewSrc,
            bodySrc: item.bodySrc,
          });
        }

        newItems.sort((a, b) => a.id - b.id);
        this.renderingItems = newItems;
      }
    }
  }
</script>
