<style lang="sass">
  .render-box
    width: 100%
    max-width: 1000px
    height: 100%
    max-height: 400px
    background-color: #7f828b
</style>

<template>
  <canvas class="render-box"></canvas>
</template>

<script>
  export default {
    props: {
      items: {
        type: Array,
        default: [],
      }
    },
    mounted(){

    }
  }
</script>
